<section class="content-home">
  <div class="jumbotron jumbotron-fluid" id="homehero">
    <div class="homeherotext">
      <h1>everything.qwertyful</h1>
        <h6>Game and Virtual Photography</h6>
    </div>
  </div> <!-- end home image -->
</section> <!-- end home content -->
