// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors to use?
// FBF7F8 snow - nav links
// DDDCE9 gainsboro
// 2B3039 gunmetal - nav bar
// 95CED7 pale robin egg blue - nav links
// 1E414C japanese indigo - font

$primary-font-stack: Helvetica, sans-serif;
$primary-color: #DDDCE9;
// $complement-color: #95CED7;
$grayscale-color: #2B3039;
$font-color: #1E414C;

html {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  background-color: $primary-color;
  color: $font-color;
  font: 100% $primary-font-stack;
  line-height: 1.5em;
}

//Navigation
.navbar {
  overflow: hidden;
  background-color: $grayscale-color !important;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-image {
  max-height: 3.4em;
  width: auto;
}

nav li a, a:visited {
  color: #FBF7F8 !important;
}

nav li a:hover, a:hover, a:active {
  color: #95CED7 !important;
  text-decoration: none;
  transition: color 500ms ease;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
}

$hero-min-height: 95vh;

#homehero {
  background-color: $primary-color;
  background-image: image-url('DH.jpg');
  background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
  background-size:cover;
  background-position:center;
  height: $hero-min-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homeherotext {
 color: $grayscale-color;
}

#bio {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bio h4, #bio p {
  background-color: #FBF7F8;
}

#portfolio  {
  padding-top: 75px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio img {
  background-color: #FBF7F8;
  padding: 5px;
  width: 100%;
}

#contact {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h4, #contact p{
    background-color: #FBF7F8;
}

.form-control {
  background-color: #FBF7F8;
}

/* Footer */
.footer, #footer {
  background-color: $grayscale-color;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FBF7F8;
  justify-content: center;
  align-items: center;
  text-align: center;
}
